@import 'zero.scss';
@import 'header.scss';
@import 'main.scss';
@import 'about.scss';
@import 'schedule.scss';
@import 'numbers.scss';
@import 'team.scss';
@import 'what.scss';
@import 'contact.scss';

@import 'footer.scss';

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #F8F8F8;
    font-family: "Montserrat", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.title{
    font-size: 30px;
    margin-bottom: 20px;
}